body{
     background-color: black;
}
canvas{
    border: 1px solid #fff;
}
.flex{
    display: flex;
    flex-direction: row;
}
.info{
    margin-left: 10px;
}
.point{
    color: yellow;
}
.info-key{
    width: 100%;
    margin-top: 120px ;
    background-color: aliceblue;
    font-weight: 600;
    font-size: 60px;
}
.info-key .line-key-1 div{
    margin-left: 70px;
    
    width: 60px;
}
.info-key .line-key-2 div{
    padding: 0 20px;
}
.key{
    margin-bottom: 10px;
    margin-left: 15px;
    padding: 15px;
    border: 1px solid black;
}
.color-yellow{
    color: yellow !important;
}
@media only screen and (max-width: 739px){
    .flex{
        display: flex;
        flex-direction: column;
    }
    .hide-on-mobile{
        display: none;
    }
    .info-key{
        margin-top: 15px;
    }
    .line-key-2{
        display: flex;
        flex-direction: row;
    }

}